::-webkit-scrollbar {
    width: 6px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(37, 99, 235, 0.24);
}

body {
    background: #f9fafb;
    font-family: 'Raleway', sans-serif;
}


.steps {
    list-style: none;
    display: inline-flex;
}

.steps .step {
    white-space: nowrap;
    background: #fff;
    position: relative;
    height: 50px;
    line-height: 50px;
    margin-right: 30px;
    padding: 0 20px;
}

.steps .step > a {
    text-decoration: none;
    color: #afafaf;
    font-weight: 500;
}

.steps .step:last-child {
    margin-right: 0;
}

.steps .step::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    border-left: 25px solid transparent;
    border-top: 25px solid #fff;
    border-bottom: 25px solid #fff;
}

.steps .step:first-child::before {
    display: none;
}

.steps .step::after {
    position: absolute;
    top: 0;
    right: -25px;
    border-left: 25px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    content: "";
}

.steps .step:last-child::after {
    display: none;
}

.steps .step.active a,
.steps .step:hover a {
    color: #000 !important
}

.steps .step.active,
.steps .step:hover {
    background: #ffd54f;
}

.steps .step.active::before,
.steps .step:hover::before {
    border-top-color: #ffd54f;
    border-bottom-color: #ffd54f;
}

.steps .step.active::after,
.steps .step:hover::after {
    border-left-color: #ffd54f;
}

.steps .step:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.steps .step:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

aside {
    box-shadow: 0px 0 3px 1px #0000001f;
}

.pulse {

}

.pulse.green::before {
    background: rgba(28, 190, 123, 0.65);
}

.pulse::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    padding: 15px;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100%;
    border-radius: inherit;
    height: 100%;
    animation: pulse-border 1550ms ease-out infinite;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2, 1.6);
        opacity: 0;
    }
}


.tab-wrapper {

}

.tab-panel {
    display: none;
}

.tab-panel.show {
    display: block;
}

.tab-header {
    display: flex;
}

.tab-header > section {
    padding: 15px 20px;
    background: #ffffff;
    flex: 1;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    border: 1px solid rgb(59 130 246 / 10%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-header > section:first-child:hover {
    border-right: none !important;
}

.tab-header > section:hover {
    text-decoration: underline;
}

.tab-header > section:active {
    background: rgb(59 130 246 / 5%);
}

.tab-header > section:not(.active) {
    cursor: pointer;
    color: rgb(59 130 246 / 100%);
}

.tab-header > section:not(.active)::after {
    /*content: '';*/
    position: absolute;
    display: block;
    width: 100%;
    background: #ff9800;
    height: 2px;
    bottom: 0;
    left: 0;
}

.tab-header > section.active {
    color: rgb(59 130 246 / 100%);
    background: rgb(59 130 246 / 10%);
}
