.shape {
    background: #ffe79c;
    border-radius: 30% 70% 70% 30% / 30% 40% 60% 70%;
    position: fixed;
    z-index: -1;
}

.shape--top {
    right: -70px;
    top: -198px;
    width: 550px;
    height: 300px;
    animation: anim 30s infinite;
}

.shape--bottom {
    width: 700px;
    height: 510px;
    left: -211px;
    bottom: -250px;
    transform: rotate(15deg);
    animation: anim 15s infinite;
}


@keyframes anim {
    0%,
    100% {
        border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
        box-shadow: 0 -2vmin 3vmin gold inset, 0 1vmin 4vmin orange inset,
        0 -2vmin 7vmin darkorange inset;
    }

    10% {
        border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
    }

    20% {
        border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
    }

    30% {
        border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
        box-shadow: -1vmin -2vmin 3vmin gold inset,
        -1vmin -2vmin 4vmin orange inset, 1vmin -1vmin 7vmin darkorange inset;
    }

    40% {
        border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
    }

    50% {
        border-radius: 100%;
        box-shadow: 0 2vmin 3vmin gold inset, 0 1vmin 4vmin orange inset,
        0 2vmin 7vmin darkorange inset;
    }

    60% {
        border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
    }

    70% {
        border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
        box-shadow: 1vmin 1vmin 4vmin gold inset,
        2vmin -1vmin 4vmin orange inset, -1vmin -1vmin 5vmin orange inset;
    }

    80% {
        border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
    }

    90% {
        border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
    }
}
