<% layout('@layouts/dashboard') -%>
<% block('links').append([].join('')) %>
<%
const games = [
    { id: 'color-wheel', icon: '/st/img/i/color-wheel.svg' },
    { id: 'color-palette', icon: '/st/img/i/color-palette.svg' },
    { id: 'sudoku', icon: '/st/img/i/sudoku.svg' },
    { id: 'tic-tac-toe', icon: '/st/img/i/tic-tac-toe.svg' },
    { id: 'chess', icon: '/st/img/game-icons/chess.svg' },
    { id: 'puzzle', icon: '/st/img/i/jigsaw.svg' },
    { id: 'animals', icon: '/st/img/i/lion.svg' },
    { id: 'memory', icon: '/st/img/i/innovation.svg' },
];
%>

<main class="h-full pb-16 overflow-y-auto">
    <div class="container py-7 px-6 max-w-7xl ml-4 grid">

        <div class="grid md:grid-cols-3 gap-6">
            <% games.forEach(game => { %>
                <a href="/dashboard/games/<%= game.id %>"
                   class="h-80 rounded-2xl shadow-md bg-white p-6 border-2 hover:border-yellow-500 cursor-pointer">
                    <img src="<%= game.icon %>" class="w-auto mx-auto max-w-full max-h-full"/>
                </a>
            <% }) %>
        </div>
    </div>
</main>