<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Բուխարի</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/st/css/global.css" rel="stylesheet">

    <!-- Options CSS links that are defined in rendered views-->
    <%- block('links').toString() %>
</head>

<body>
<!-- Navigation Bar -->
<%- partial('../@partial/public-nav.ejs') -%>

<%- body -%>
</body>
<script src="/st/lib/jquery/jquery-3.5.1.min.js"></script>
<!-- Options JS scripts that are defined in rendered views-->
<%- block('scripts').toString() %>
</html>